#strenght-based-progression-steps{ ng_controller: 'StrenghtBasedProgressionStepsController as steps_ctrl' }
  %h3 Steps
  = render 'strenght_based_progression_steps/form'
  = render 'strenght_based_progression_steps/list'
